<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="css/styles.css" /></head>
  <body>
      <div class="main-content">
     <h1>{{sms}}</h1>
    {{>header}}
    <p>The page you are looking for does not exist yet ,come back later :)</p>
      </div>
    
    {{>footer}}
  </body>
  
</html>

