<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This is a simple weather forecast application created using APIs from Geocode and Weatherstack 
      and technologies like handlebars and express</p>
    <p>Page creator:{{creator}}</p>
    </div>
    
    {{>footer}}
  </body>
  
</html>
