<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    
    <p>If you are facing any buggs or problems with this app contact me through my email:issaev.chingiz@gmail.com </p>
    </div>
    
    {{>footer}}
  </body>
  
</html>
